body{
    background-color: rgb(227, 227, 227);
}
.form-control{
    width: 750px;
}
.navbar-brand h1{
    color: white;
    margin-left: 85px;
    padding: 4px;
    background-color: cornflowerblue;
    border-radius: 15px;
}
#menu{
    display: flex;
    margin-right: 15px;
    margin-left: 15px;
    background-color: white;
}
.card{
    align-items: center;
    height: 150px;
    width: 150px;
    border: none;
    margin-left: 0.5px;
    margin-right: 0.5px;
}
.card img{
    height: 90px;
    width: 90px;
    margin-bottom: 0px;
    background-color: transparent;
}
.card-body{
    text-align: center;
    font-size: 12px;
    font-weight: bold;
    margin-top: -5px;
}
.btn{
    font-size: 12px;
    background-color: white;
    font-weight: bold;
    margin-top: -5px;
    border-color: transparent;
}

#search-icon{
    position: relative;
    left: -40px;
    top: 8px;
}
.best-ele{
    margin-top: 15px;
    height: 350px;
}
.best-ele h3{
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 25px;
}
.carde{
    height: 250px;
    margin-left: 15px;
    margin-right: 15px;
    background-color: white;
}
.carde img{
    width: 150px;
}
.card-text{
    font-weight: bold;
    text-align: center;
    margin-top: 35px;
}
.carde:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}